.places{
    border: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}
.places h1{
    font-size: 30px;
    margin: 10px 0px 0px 10px;
}
.places article{
    width: 390px;
    height: auto;
    padding: 20px;
    margin: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    .amenities{
        margin-top: 40px;
        width: 100%;
        height: auto;
    }
    

}
article h2{
    font-size: 30px;
    margin: 0px;
}
.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    
}

.price_by_night{
    color: #FF5A5F;
    border: solid #FF5A5F 4px;
    border-radius: 100%;
    width: 60px;
    min-width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information{
    height: 80px;
    border: #DDDDDD  1px ;
    border-style: solid none;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.information div{
    width: 100px;
    height: 80px;
}
.max_guest, .number_rooms, .number_bathrooms{
    background-repeat: no-repeat;
    background-position: center top 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    p{
        margin-bottom: 5px;
    }
}
.max_guest{
    background-image: url('../images/icon_group.png');
}
.number_rooms{
    background-image: url('../images/icon_bed.png');
}
.number_bathrooms{
    background-image: url('../images/icon_bath.png');
}
.user{
    text-align: left;
    padding: 10px 0px ;
}
.description{
    text-align: left;

    p{
        margin-top: -5px;
    }
}

.amenities_title, .reviews_title{
    width: 100%;
    border-bottom: solid #DDDDDD 1px;
    h2{
        font-size: 16px;
        text-align: left;
        margin-bottom: 10px;
    }
}
.amenities_list, .reviews_list{
    list-style-type: none;
    justify-content: left;
    padding-left: 0px;
    
}
.amenities_list li:nth-child(1){
    background-image: url('../images/icon_pets.png');
}
.amenities_list li:nth-child(2){
    background-image: url('../images/icon_tv.png');
}
.amenities_list li:nth-child(3){
    background-image: url('../images/icon_wifi.png');
}
.amenities_list li {
    background-repeat: no-repeat;
    text-align: left;
    background-position: left;
    background-size: contain;
    height: 20px;
    padding-left: 30px;
    align-content: center;
    display: grid;
    margin-bottom: 10px;
}
.reviews_list li{
    background-repeat: no-repeat;
    text-align: left;
    background-position: left;
    background-size: contain;
    height: 20px;
    align-content: center;
    display: grid;
    margin-bottom: 10px;
    padding: 10px 0px;
}
.reviews{
    width: 100%;
    margin-top: 40px;
    h3{
        font-size: 14px;
        margin: 0
    }
    p{
        font-size: 12px;
        margin: 0;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
}
