.places{
    display: flexbox;
}
.places h1{
    font-size: 30px;

}
.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    text-align: center;
}
article h2{
    font-size: 30px;
    margin: 0px;
}
